#index-h3 {
    text-align: center;
    font-size: 100px;
    color: green;
}

.index-h4{
    text-align: center;
    color: yellow;
    font-size: 75px;
    
}



#index-p{
    font-size:larger;
    color:darkorchid;
    
}

.index-courses p{
    font-size: 35px;
    color: orange;
    text-align: right;
}

p{
    font-size: 25px;
    color: red;
}